<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             version="1.0"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">

   
   	<persistence-unit name="cameljpa" transaction-type="RESOURCE_LOCAL">
    <!--The default provider can be Hibernate, or some other product.-->
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

    <properties>
    
   	  <!--Postgresql Excample  -->
      <!--  <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/postgres"/>
      <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
      <property name="hibernate.connection.username" value="postgres"/>
	  <property name="hibernate.connection.password" value="xx"/>-->
	  
	  <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
      <property name="hibernate.connection.url" value="jdbc:h2:file:target/db/testdb"/>
      <property name="hibernate.connection.driver_class" value="org.h2.Driver"/>
      <property name="hibernate.connection.username" value="sa"/>
	  <property name="hibernate.connection.password" value=""/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="hibernate.show_sql" value="false"/>
      <property name="hibernate.format_sql" value="true" />
      <property name="hibernate.connection.autocommit" value="true"/>
      <property name="hibernate.temp.use_jdbc_metadata_defaults" value="false" />
    </properties>
  </persistence-unit>

</persistence>